/* RESET */

* {
  margin: 0px;
}

/* COMMON */
.margin-top {
  margin-top: 20px;
}
/* COMMON END*/

/* HEADER */

header {
  background-color: #639ff8;
  background-image: url(../img/pattern.png);
}

.logo {
  margin-top: 20px;
  height: 50px;
}

.container {
  width: 75%;
  margin: auto;
}
/* HEADER END */

/* MAIN */

.heading-image-row {
  display: flex;
  flex-wrap: wrap;
}

.heading-image-column {
  flex: 50%;
  max-width: 50%;
}

.heading-image-caption {
  margin-top: 5px;
  text-size: 6px;
}

.sub-heading {
  color: grey;
}

.date-heading {
  color: gray;
}

.sub-heading span {
  color: #639ff8;
}

p span {
  background-color: #f8f363;
}

.table-third-column {
  width: 50%;
}

th {
  background-color: #639ff8;
  color: white;
  text-align: left;
}

.odd-row {
  background-color: lightblue;
  color: darkblue;
}

th,
td {
  padding: 0px;
}

/* MAIN END */
