/* RESET */

* {
  margin: 0px;
}

/* RESET END */

/* ====================================================================== */

/* COMMON */

.margin-top {
  margin-top: 20px;
}

/* COMMON END*/

/* ====================================================================== */

/* HEADER */

header {
  background-color: #639ff8;
  background-image: url(../img/pattern.png);
  background-size: 400px;
}

.logo {
  margin: 20 0 10 0;
  height: 50px;
}

.container {
  width: 75%;
  margin: auto;
}

/* HEADER END */

/* ====================================================================== */

/* MAIN */

.heading-image-layout{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 2px;
}

.heading-image-cell {
  display: table-cell;
  width: 100%;
}

.heading-image-cell-img {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

.heading-image-caption {
  margin-top: 5px;
  font-size: 10px;
}

.sub-heading {
  color: grey;
}

.date-heading {
  color: gray;
}

.sub-heading span {
  color: #639ff8;
}

p span {
  background-color: #f8f363;
}

.column {
  width: 50%;
}

th {
  background-color: #639ff8;
  color: white;
  text-align: left;
  padding: 5px;
}

td {
  padding: 5px;
}

ul {
  padding: 20px;
}

.odd-row {
  background-color: lightblue;
}


/* MAIN END */

/* ====================================================================== */

/* FOOTER */

footer h2 {
  color: darkgrey;
}

.footer-image-square {
  position: relative;
  text-align: left
}

.footer-image-square-text {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 30;
  font-weight: bolder;
  color: white;
}

/* FOOTER END */
