/* RESET */

* {
  margin: 0px;
}

/* RESET END */

/* ====================================================================== */

/* COMMON */

.margin-top {
  margin-top: 20px;
}

/* COMMON END*/

/* ====================================================================== */

/* HEADER */

header {
  background-color: #D55B47;
  background-size: 400px;
}

.logo {
  margin: 20 0 10 0;
  height: 50px;
}

.container {
  width: 75%;
  margin: auto;
}

/* HEADER END */

/* ====================================================================== */
